@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');

/* global values to get rid of automatic values */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #121113;
}

/* Header and Headings */
header {
    background-color: #F7F7F2;
}

h1,
h2,
h3 {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navbar w. Flexbox for responsive design */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    list-style: none;
    padding: 10px 0 10px 0;
}

.nav-list li {
    flex-grow: 0;
}

#nav-home {
    font-size: 1.25rem;
}

.nav-list a {
    color: inherit;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #121113;
}

.nav-list a:hover {
    color: #656d61;
    border-bottom: 2px solid #a8b39c;
}

/* Hero Image with Title and Zoom Effect */
/* Base Hero concept inspired by Love Running Project */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Regex to match everything which stats with hero-image-
Unfortunately there seems to be a bug with background-size property
I had to specify it under each id selector in order to work */

[id^=hero-image-]{
    height: 100%;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-main {
    background: url('../images/p10_aescher.webp') no-repeat center right;
    background-size: cover;
}

#hero-image-gallery {
    background: url('../images/p20_stunningview.webp') no-repeat center right;
    background-size: cover;
}

#hero-image-tours {
    background: url('../images/p20_through_saxer.webp') no-repeat center center;
    background-size: cover;
}

#hero-image-confirmation {
    background: url('../images/p40_cow-horns.webp') no-repeat center center;
    background-size: cover;
    opacity: 80%;
}

/* Creating zoom effect for hero image */
@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Overlay title text in front of hero image, centered via transform translate property */
.hero-image-text {
    font-size: 1.75rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 18%;
    left: 50%;
    background-color: rgba(18, 17, 19, 0.6);
    border-radius: 10px;
}

.hero-image-text h1 {
    color: #F7F7F2;
    letter-spacing: 3px;
}

/* Hero image section of contacts confirmation page w. different values than other hero image parts */

#hero-outer-conf {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-img-conf-text {
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 3px 3px 8px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    color: #F7F7F2;
    text-shadow: 4px 4px 2px black;
    background-color: rgba(18, 17, 19, 0.6);
    border-radius: 10px;
}

#hero-img-conf-text p {
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
}

/* Facts & History Section */

#facts-section {
    background-color: #F7F7F2;
    padding-bottom: 25px;
}

#facts-section h2 {
    text-align: center;
    padding: 20px;
    color: inherit;
}

/* Flexbox for the two boxes to have them responsive and more can easily be added */
.facts-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Child box item with a flex-basis "ideal" width is set to 45characters */
.facts-box {
    margin: 15px 15px 25px 15px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #e4e6c3;
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
}

/* Video Section w. Flexbox to be responsive and future proof to add more video boxes*/

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F7F7F2;
}

/* Child box */
.video-box {
    margin: 15px 15px 25px 15px;
    border-radius: 10px;
    width: 560px;
    height: 315px;
}

/* Gallery Section with Flexbox for responsive design */
.gallery-container {
    background-color:#F7F7F2;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
}

/* flex-basis "ideal" width is set to 350px to have gallery nice on various screen sizes */
.gallery-box > li {
    flex: 1 1 350px;
    min-height: 500px;
    list-style-type: none;
}

.gallery-box li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Tours Section */
#tours-section {
    background-color: #F7F7F2;
    padding-bottom: 25px;
}

#tours-section h2 {
    text-align: center;
    padding: 20px;
    color: inherit;
}

/* Tours Box Section with flexbox construct to have responsive design with flex wrap for allignement*/
.tours-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Child box element with flex basis set to 45 characters */
.tours-box {
    margin: 15px 15px 25px 15px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #e4e6c3;
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
}

/* Flexbox "child construct" living inside the tours flexbox construct */
.hike-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* Child box element, which will cause the individual boxes to be fully responsive */
.hike-container > div {
    text-align: center;
    flex: 1 1 20ch;
}

.hike-container i {
    font-size: 150%;
    color: #222725;
}

/* Create hover effect for icons, set to green like tourist info */
.hike-container i:hover {
    color:rgb(0, 145, 0);
}

.tours-box h3 {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}

/* Contact Box Section */
#contact-section {
    background-color: #F7F7F2;
    padding-bottom: 25px;
}

#contact-section h2 {
    text-align: center;
    padding: 20px;
    color: inherit;
}

/* Flexbox to have fully responsive design of the contact box */
.contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e4e6c3;
}

/* Child box element, transparent effect */
.contact-box {
    margin: 25px 15px 25px 15px;
    background-color: rgba(34, 39, 37, 0.6);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    color:#fff;
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 500px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 6px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 3px;    
}

/* Fix for dropdown menu color, since background is white on Windows
where as on OS X it is grey. Changing color to black */
.text-input option {
    color: black;
}

/* Hover effect to turn frame around text boxes smoky black */
.text-input:hover {
    border-color: #222725;
}

/* Submit button to send form */
.submit-button {
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #222725;
    color: #f7f7f2;
    display: inline-block;
}

/* Hover effect on submit botten for inverse color swap */
.submit-button:hover {
    background-color: #f7f7f2;
    color: #222725;
}

/* Maps Section */
.gmaps {
    width: 100%;
    height: 300px;
}

/* Footer */
footer p {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: .9rem;
}

.social-networks {
    text-align: center;
    background-color: #222725;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1rem;
    padding: 1rem;
    color: #F7F7F2;
}

/* Footer designation section - active link to github repo */
.footer-link a {
    text-decoration: none;
    color: #222725;
    border-bottom: 1px solid;
}

/* Hover effect to github repo link to show active link */
.footer-link a:hover {
    color: #656d61;
}

/* Media Queries for very large screens above 1310px */
@media screen and (min-width: 1311px) {

    .hero-outer {
        height: 800px;
    }

    .hero-image-text {
        font-size: 2rem;
    }

    #hero-outer-conf {
        height: 1000px;
    }

    #hero-img-conf-text {
        font-size: 1.75rem;
    }

}