@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #121113;
}

/* Header and Headings */

header {
    background-color: #F7F7F2;
}

h1,
h2 {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navbar w. Flexbox for responsive design */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    list-style: none;
    /* margin: 0; */
    padding: 10px 0 10px 0;

}

.nav-list li {
    flex-grow: 0;
}

#nav-home {
    font-size: 1.25rem;
}

.nav-list a {
    color: inherit;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #121113;
}

.nav-list a:hover {
    color: #a8b39c;
    border-bottom: 2px solid #a8b39c;
}


/* Hero Image with Title */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    background: url('../images/p10_aescher.webp') no-repeat center right;
    height: 100%;
    background-size: cover;
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#main-image-text {
    font-size: 1.75rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

#main-image-text h1 {
    color: #F7F7F2;
    letter-spacing: 3px;
}

/* Facts & History Section */

#facts-section {
    background-color: #F7F7F2;
}

#facts-section h2 {
    text-align: center;
    padding: 20px;
    color: inherit;
}

.facts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.facts-box {
    max-width: 450px;
    margin: 15px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #e4e6c3;
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
}





