@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #121113;
}

/* Header and Headings */

header {
    background-color: #F7F7F2;
}

h1,
h2 {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navbar w. Flexbox for responsive design */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    list-style: none;
    padding: 10px 0 10px 0;
}

.nav-list li {
    flex-grow: 0;
}

#nav-home {
    font-size: 1.25rem;
}

.nav-list a {
    color: inherit;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #121113;
}

.nav-list a:hover {
    color: #a8b39c;
    border-bottom: 2px solid #a8b39c;
}

/* Hero Image with Title and Zoom Effect */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-main {
    background: url('../images/p10_aescher.webp') no-repeat center right;
    height: 100%;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-gallery {
    background: url('../images/p20_stunningview.webp') no-repeat center right;
    height: 100%;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hero-image-text {
    font-size: 1.75rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

.hero-image-text h1 {
    color: #F7F7F2;
    letter-spacing: 3px;
}

/* Facts & History Section */

#facts-section {
    background-color: #F7F7F2;
    padding-bottom: 25px;
}

#facts-section h2 {
    text-align: center;
    padding: 20px;
    color: inherit;
}

.facts-container {
    display: flex;
    /* justify-content: center; IMO not needed since only 2 child boxes */
    /* align-items: center; not sure since without boxes would always be equal size */
    flex-wrap: wrap;
    width: 100%;
    /* gap: 1rem; -> not sure to use gap since I have margin in child */
}

.facts-box {
    /* max-width: 450px; */
    margin: 15px 15px 25px 15px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #e4e6c3;
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    flex: 1 1 45ch;
}

/* Gallery Section with Flexbox for responsive design */

.gallery-container {
    background-color:#F7F7F2;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
}

.gallery-box > li {
    flex: 1 1 500px;
    min-height: 500px;
    list-style-type: none;
}

.gallery-box li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Footer */

footer {
    background-color: #222725;
    height: 90px;
}

footer p {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: .9rem;
}

.footer-link a {
    text-decoration: none;
    color: #222725;
    border-bottom: 1px solid;
}

.footer-link a:hover {
    color: #a8b39c;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1rem;
    padding: 1rem;
    color: #F7F7F2;
}